* {
  padding: 0;
  margin: 0;
}

:root {
  --primary:#eb2f64;
  --primary-light:#FF3366;
  --primary-dark:#BA265D;
  --grey-light-1:#faf9f9;
  --grey-light-2:#f4f2f2;
  --grey-light-3:#f0eeee;
  --grey-light-4:#ccc;
  --grey-dark-1:#333;
  --grey-dark-2:#777;
  --grey-dark-3:#999;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 58em) {
  html {
    font-size: 50%;
  }
}

li {
  list-style: none;
}

body {
  font-family: sans-serif;
  font-weight: 500;
  color: var(--grey-dark-2);
  background: -webkit-gradient(linear, left top, right bottom, from(var(--primary-light)), to(var(--primary-dark)));
  background: linear-gradient(to bottom right, var(--primary-light), var(--primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo {
  height: 4rem;
  margin-left: 1rem;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  width: 80%;
  border: none;
  border-radius: 10rem;
  background-color: var(--grey-light-2);
  font-family: inherit;
  font-size: inherit;
  padding: .6rem;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  margin-right: -3rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--grey-light-3);
}

.search__btn {
  border: none;
  background-color: var(--grey-light-2);
}

.search__btn:focus {
  outline: none;
}

.search__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search .icon-magnifying-glass {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--grey-dark-3);
}

.nav-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-head > * {
  padding: 0 1rem;
  cursor: pointer;
  height: 100%;
}

.nav-head > *:hover {
  background-color: var(--grey-light-2);
}

.nav-head__bookmark {
  position: relative;
}

.nav-head__message {
  position: relative;
}

.nav-head .icon-bookmark {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--grey-dark-3);
}

.nav-head .icon-message {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--grey-dark-3);
}

.nav-head .user-notif {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  font-size: 1rem;
  background-color: red;
  border-radius: 50%;
  color: white;
  top: 1.5rem;
  left: 2.3rem;
}

.main {
  height: 70rem;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text {
  font-size: 1.1rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: .9rem;
}

@media only screen and (max-width: 49em) {
  .text {
    display: none;
  }
}

@media only screen and (max-width: 49em) {
  .sider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sider__item {
  font-size: 1.3rem;
  margin-top: 1.8rem;
  position: relative;
}

@media only screen and (max-width: 49em) {
  .sider__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 0;
  }
}

.sider__item::before {
  content: "";
  width: 2.5px;
  height: 100%;
  background-color: var(--primary-dark);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width .4s .5s, -webkit-transform .5s;
  transition: width .4s .5s, -webkit-transform .5s;
  transition: transform .5s, width .4s .5s;
  transition: transform .5s, width .4s .5s, -webkit-transform .5s;
}

.sider__item:hover::before,
.sider .active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.sider .link:visited,
.sider .link:link {
  color: var(--grey-light-3);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

@media only screen and (max-width: 49em) {
  .sider .link:visited,
  .sider .link:link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 31.3em) {
  .sider .link:visited,
  .sider .link:link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sider .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  margin-right: 0.7rem;
}

@media only screen and (max-width: 31.3em) {
  .sider .icon {
    margin-bottom: .8rem;
  }
}

.main .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .gallery__item-photo {
  display: block;
  width: 100%;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.1rem solid var(--grey-light-2);
}

.head .icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--primary-dark);
}

.head__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 2.52rem;
}

@media only screen and (max-width: 28.1em) {
  .head__heading {
    font-size: 1.3rem;
  }
}

.head__stars {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__loaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 28.1em) {
  .head__loaction {
    font-size: 1.3rem;
  }
}

.head__rating {
  background-color: var(--primary-dark);
  color: #ffff;
  margin-left: .7rem;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.head__rating .rating-avrage {
  font-size: 2rem;
  font-weight: 300;
}

@media only screen and (max-width: 28.1em) {
  .head__rating .rating-avrage {
    font-size: 1.3rem;
  }
}

.head .icon-loaction {
  margin-right: .3rem;
}

@-webkit-keyframes animated {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0.2rem 3rem #3f3d3d;
            box-shadow: 0 0.2rem 3rem #3f3d3d;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes animated {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 0.2rem 3rem #3f3d3d;
            box-shadow: 0 0.2rem 3rem #3f3d3d;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.btn-inline {
  color: var(--primary-dark);
  font-size: inherit;
  border: none;
  border-bottom: 1px solid currentColor;
  margin-bottom: .2rem;
  background-color: transparent;
  outline: none;
}

.btn-inline span {
  margin-left: .3rem;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.btn-inline:hover {
  color: var(--grey-dark-3);
}

.btn-inline:hover span {
  margin-left: .8rem;
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: animated 1s infinite;
          animation: animated 1s infinite;
}

.description {
  width: 100%;
}

@media only screen and (max-width: 38.4em) {
  .description {
    margin-bottom: 2rem;
  }
}

.description-text {
  text-align: left;
  color: var(--grey-dark-3);
}

.description-text:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  margin: 2rem 0;
  padding: 2rem;
  font-size: 1.2rem;
  border-top: 0.2rem solid #cac6c6;
  border-bottom: 0.2rem solid #cac6c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list--item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.list--item::before {
  content: "";
  width: 1rem;
  display: inline-block;
  margin-right: .7rem;
  height: 1rem;
  background-image: url("../img/SVG/chevron-thin-right.svg");
  background-size: cover;
}

.recommend {
  color: var(--primary-dark);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend--photo {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: .2rem solid #ffff;
}

.recommend--photo:not(:last-child) {
  margin-right: -1.5rem;
}

.rewiev {
  font-size: 1.2rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  padding: 2.5rem;
  overflow: hidden;
  position: relative;
}

.rewiev__text {
  position: relative;
  z-index: 10;
}

.rewiev__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.rewiev__user--photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.rewiev__user--info {
  margin-right: auto;
  margin-left: 1rem;
}

.rewiev__user--name {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

.rewiev__user__date {
  font-weight: 300;
  text-transform: uppercase;
}

.rewiev__rating {
  font-size: 2rem;
  color: var(--primary-dark);
}

.rewiev::before {
  content: "\201C";
  position: absolute;
  font-size: 15rem;
  top: -3rem;
  left: -.8rem;
  z-index: 1;
}

.footer {
  text-align: center;
  padding: 5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.footer__btn {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: 10rem;
  background-color: var(--primary-dark);
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.footer__btn .active {
  display: inline-block;
  padding: 2rem 7rem;
  height: 100%;
  width: 100%;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.footer__btn .disactive {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0%;
  padding: 2rem 0;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.footer__btn:hover .disactive {
  top: 0;
}

.footer__btn:hover .active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.footer__btn:focus {
  -webkit-animation: animated 0.8s infinite;
          animation: animated 0.8s infinite;
}

.container {
  max-width: 105rem;
  margin: 9rem auto;
  background-color: var(--grey-light-3);
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
}

@media only screen and (max-width: 66em) {
  .container {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.header {
  height: 6.5rem;
  font-size: 1.3rem;
  background-color: #ffff;
  border-bottom: 0.1rem solid var(--grey-light-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 90rem;
}

@media only screen and (max-width: 49em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  background-color: var(--grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16%;
          flex: 0 0 16%;
}

.main {
  background-color: #ffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.deatail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  padding: 3rem;
  background-color: var(--grey-light-3);
  border-bottom: 1px solid var(--grey-light-3);
}

@media only screen and (max-width: 38.43em) {
  .deatail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  margin-right: 2rem;
  padding: 2rem;
}

.user-revive {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */