//BASIC SETTINGS
*{
    padding: 0;
    margin: 0; 
}
:root{
    --primary:#eb2f64;
    --primary-light:#FF3366;
    --primary-dark:#BA265D;
    --grey-light-1:#faf9f9;
    --grey-light-2:#f4f2f2;
    --grey-light-3:#f0eeee;
    --grey-light-4:#ccc;
    --grey-dark-1:#333;
    --grey-dark-2:#777;
    --grey-dark-3:#999;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and(max-width:58em){
        font-size: 50%;
    }
}

li{
    list-style: none;
}
body{
    font-family: sans-serif;
    font-weight: 500;
    color: var(--grey-dark-2);
    background: linear-gradient(to bottom right,var(--primary-light), var(--primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}