/////logo

.logo{
    height: 4rem;
    margin-left: 1rem;
}
//search box
.search{
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
        width: 80%;
        border: none;
        border-radius: 10rem;
        background-color: var(--grey-light-2);
        font-family: inherit;
        font-size: inherit;
        padding: .6rem;
        transition: all ease .5s;
        margin-right: -3rem;
        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--grey-light-3);
        }
    }

    &__btn{
        border: none;
        background-color: var(--grey-light-2);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }
    .icon-magnifying-glass{
        height: 1.5rem;
        width: 1.5rem;
        fill: var(--grey-dark-3);
    }

}

//nav-head


.nav-head{
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;

    & > *{
        padding: 0 1rem;
        cursor: pointer;
        height: 100%;
    }
    & > *:hover{
        background-color: var(--grey-light-2);
    }
  
    &__bookmark{
        position: relative;  

    }

    &__message{
        position: relative;
    }
    .icon-bookmark{
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--grey-dark-3);
    }
    .icon-message{
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--grey-dark-3);
    }

    .user-notif{
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        font-size: 1rem;
        background-color: red;
        border-radius: 50%;
        color: white;
        top: 1.5rem;
        left: 2.3rem;
    }

}

.main{
    height: 70rem;
}

////SIDE BAR/////
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    font-size: 1.1rem;
    color: var(--grey-light-4);
    text-align:center;
    padding: .9rem;
}

.sider{
    
    &__item{
        font-size: 1.5rem;
        margin-top: 1.8rem;
        position: relative;
    }

    &__item::before{
        content:"";
        width:2.5px;
        height: 100%;
        background-color: var(--primary-dark);
        position: absolute;
        top: 0;
        left:0;
        transform: scaleY(0);
        transition:transform .5s,
        width .4s .5s;
    }  
    
    &__item:hover::before,
    .active::before{
        transform: scaleY(1);
        width: 100%;
    }

    .link:visited,
    .link:link{
        color: var(--grey-light-3);
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.8rem 1.8rem;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: baseline;
    }


    .icon{
        width:1.5rem;
        height:1.5rem;
        fill: currentColor;
        margin-right: 0.7rem;
    }
}

///////////////////////MAIN//////////////
.main{

    .gallery{
        display: flex;
        &__item-photo{
            display: block;
            width: 100%;
    }
    }
}


////// heading of overview part//////
.head{

    display: flex;
    align-items: center;
    border-bottom: .1rem solid var(--grey-light-2);

    .icon{
        width: 1.7rem;
        height: 1.7rem;
        fill: var(--primary-dark);
    }

    &__heading{
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 1rem;
        padding: 2.52rem;
    }

    &__stars{
        flex: 1;
        margin-right: auto;
        display: flex;
    }

    &__loaction{
        display: flex;
        align-items: center;
    }

    &__rating{
        background-color: var(--primary-dark);
        color: #ffff;
        margin-left:.7rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        .rating-avrage{
            font-size: 2rem;
            font-weight: 300;
        }
    }

    .icon-loaction{
        margin-right: .3rem;
    }
}

@keyframes animated{

    0%{
        transform: scale(1);
        box-shadow: none;
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0 .2rem 3rem rgb(63, 61, 61);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
 }


 .btn-inline{
      color: var(--primary-dark);
      font-size: inherit;
      border: none;
      border-bottom: 1px solid currentColor;
      margin-bottom: .2rem;
      background-color: transparent;
      outline: none;

      & span{
        margin-left: .3rem;
        transition: all ease .3s;
     }

     &:hover{
         color: var(--grey-dark-3);

         span{

            margin-left:.8rem;
         }
     }

     &:focus{
        outline: none;
        animation:animated 1s infinite;
     }

    

 }

////// STORIES OF VISITORS
.description-text{
    text-align: left;
    color: var(--grey-dark-3);
    &:not(:last-of-type){
        margin-bottom: 2rem;
    }
    
}

.list{
    margin: 2rem 0;
    padding: 2rem;
    font-size: 1.2rem;
    border-top: .2rem solid rgb(202, 198, 198);
    border-bottom: .2rem solid rgb(202, 198, 198);
    display: flex;
    flex-wrap: wrap;

    
    &--item{
        flex: 0 0 50%;
    }

    &--item::before{
        content: "";
        width: 1rem;
        display: inline-block;
        margin-right: .7rem;
        height: 1rem;
        background-image: url("../img/SVG/chevron-thin-right.svg");
        background-size: cover;
    }
}


.recommend{
    color: var(--primary-dark);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--photo{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        border: .2rem solid #ffff;
    }
    &--photo:not(:last-child){

        margin-right: -1.5rem;
    }
}


.rewiev{
    font-size: 1.2rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
    margin-bottom: 2.5rem;
    padding: 2.5rem;
    overflow: hidden;
    position: relative;
    &__text{
        position: relative;
        z-index: 10;
    }

    &__user{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        &--photo{
            width: 2.8rem;
            height: 2.8rem;
            border-radius: 50%;
        }

        &--info{
            margin-right: auto;
            margin-left: 1rem;
        }

        &--name{
            font-size: 1.4rem;
            font-weight: 500;
            color: black;
        }

        &__date{
            font-weight: 300;
            text-transform: uppercase;
        }

    }
    &__rating{
        font-size: 2rem;
        color: var(--primary-dark);
    }
    
    &::before{
        content: "\201C";
        position: absolute;
        font-size:15rem;
        top: -3rem;
        left: -.8rem;
        z-index: 1;
    }
}
//////////////////////
/// FOOTER
.footer{
    text-align: center;
    padding: 5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    &__title{

    }
    &__btn{
    color: #fff;
     font-weight: 400;
     text-transform: uppercase;
     margin-top: 2rem;   
     border-radius: 10rem;
     background-color: var(--primary-dark);
     border: none;
     position: relative;
     overflow: hidden;
     cursor: pointer;

     .active{
        display: inline-block;
        padding: 2rem 7rem;
        height: 100%;
        width: 100%;
        transition: all ease .2s;
     }
     .disactive{
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 100%;
        top: -100%;
        left: 0%;
        padding: 2rem 0;
        transition: all ease .2s;

     }

     &:hover .disactive{
        top: 0;
     }
     &:hover .active{
        transform: translateY(100%);
     }

     &:focus{
        animation: animated 0.8s infinite;
     }

    }

}


