.container{
    max-width: 105rem;
    margin: 9rem auto;
    background-color: var(--grey-light-3);
    box-shadow: 0 1rem 2rem black;
    // min-height: 60rem;

    @media only screen and(max-width:66em){
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.header{
    height: 6.5rem;
    font-size: 1.3rem;
    background-color: #ffff;
    border-bottom: .1rem solid var(--grey-light-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    display: flex; 
    min-height:90rem;
    @media only screen and (max-width:49em){
        flex-direction: column;
    }
    ///////EROR/////////
}

.sidebar{
    background-color: var(--grey-dark-1);
    flex: 0 0 16%;
}

.main{
    background-color: #ffff;
    flex: 1;
}


.deatail{
    display: flex;
    font-size: 1.5rem;
    padding: 3rem;
    background-color: var(--grey-light-3);
    border-bottom: 1px solid var(--grey-light-3);
    @media only screen and (max-width:38.43em){
        flex-direction: column;
    }
}
.description{
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
    flex:  0 0 70%;
    margin-right: 2rem;
    padding: 2rem;
}
.user-revive{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}